<div class="container-fluid h-100">

  <div class="row h-100">
    <div class="col-6 py-3">
      <div class="card h-100">
        <div class="card-header">NO ENCAPSULATION</div>
        <div class="card-body">

          <div class="row h-100">
            <div class="col-12 bg-light">
        
              <div class="row p-3 pb-0" style="height: 400px">
                <div class="col-6 h-100 overflow-hidden">
                  <div class="card overflow-hidden h-100">
                    <div class="card-body h-100 overflow-hidden p-0">
                      <tf-todo class="h-100" [url]="todoUrl" (selectedTodo)="getSelectedTodo($event)"></tf-todo>
                    </div>
                  </div>
                </div>
                <div class="col-6 h-100 overflow-hidden">
                  <div class="card overflow-hidden h-100">
                    <div class="card-body h-100 overflow-hidden p-0">
                      <tf-todo class="h-100" [url]="todoUrl" (selectedTodo)="getSelectedTodo($event)"></tf-todo>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row p-3 pb-0">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">Selected Todo</div>
                    <div class="card-body">
                      {{selectedTodo?.title}}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row p-3 pb-0" style="font-size: 10px">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" style="font-size: 12px">Todo Detail</div>
                    <div class="card-body">
                      <tf-todo-detail *ngIf="selectedTodo?.id" [url]="todoUrl+'/'+selectedTodo?.id"></tf-todo-detail>
                      <span *ngIf="!selectedTodo?.id">No Selected Todo</span>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6 py-3">
      <div class="card h-100">
        <div class="card-header">SHADOW DOM ENCAPSULATION</div>
        <div class="card-body">

          <div class="row h-100">
            <div class="col-12 bg-light">
        
              <div class="row p-3 pb-0" style="height: 400px">
                <div class="col-6 h-100 overflow-hidden">
                  <div class="card overflow-hidden h-100">
                    <div class="card-body h-100 overflow-hidden p-0">
                      <tf-todo-encapsulate class="h-100" [url]="todoUrl" (selectedTodo)="getSelectedTodo($event)"></tf-todo-encapsulate>
                    </div>
                  </div>
                </div>
                <div class="col-6 h-100 overflow-hidden">
                  <div class="card overflow-hidden h-100">
                    <div class="card-body h-100 overflow-hidden p-0">
                      <tf-todo-encapsulate class="h-100" [url]="todoUrl" (selectedTodo)="getSelectedTodo($event)"></tf-todo-encapsulate>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row p-3 pb-0">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">Selected Todo</div>
                    <div class="card-body">
                      {{selectedTodo?.title}}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row p-3 pb-0" style="font-size: 10px">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header" style="font-size: 12px">Todo Detail</div>
                    <div class="card-body">
                      <tf-todo-detail-encapsulate *ngIf="selectedTodo?.id" [url]="todoUrl+'/'+selectedTodo?.id"></tf-todo-detail-encapsulate>
                      <span *ngIf="!selectedTodo?.id">No Selected Todo</span>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>