<div class="container-fluid overflow-hidden h-100 p-0" *ngIf="vm$|async as vm">
  <div class="d-flex flex-column h-100">
    <div class="d-flex flex-grow-0 border-bottom p-3">
      <h3>Todo Detail</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-responsive table-borderless">
          <tbody>
            <tr>
              <td style="width: 1%">ID</td>
              <td>{{vm.todoDetail?.id}}</td>
            </tr>
            <tr>
              <td style="width: 1%">Title</td>
              <td>{{vm.todoDetail?.title}}</td>
            </tr>
            <tr>
              <td style="width: 1%;">User ID</td>
              <td>{{vm.todoDetail?.userId}}</td>
            </tr>
            <tr>
              <td style="width: 1%">Status</td>
              <td>
                <span class="badge bg-success" *ngIf="vm.todoDetail?.completed">Completed</span>
                <span class="badge bg-warning" *ngIf="!vm.todoDetail?.completed">Incomplete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>